.widget {
  margin: 0.5rem;
  border-radius: 3px;
  padding: 1rem;

  &--full {
    flex-basis: 100%;
    background-color: #76d7c4;
  }

  &--half {
    flex-basis: 40%;
    background-color: #85c1e9;
  }

  &--quarter {
    flex-basis: 20%;
    background-color: #d2b4de;
  }

  .widget__title {
    margin-top: 0;
  }

  .widget__value {
    font-size: 2rem;
    font-weight: 700;
  }

  .widget__info {
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
    opacity: 0.75;
  }

  .widget__chart {
    font-size: 0.8rem;

    .chart__bar {
      border-radius: 15px;
    }
  }
}
