* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #2E2F2F;
}

.todo-list {
    background-color: #051014;
    font-family: "Roboto", "Overpass Mono", Arial, Helvetica, sans-serif;
    padding: 1rem;
    min-width: 500px;
    max-width: 500px;
    min-height: 300px;
    height: auto;
}

.title {
    border-bottom: 1px solid rgba(246, 241, 209, 0.5);
    font-size: 1.5rem;
    font-family: "BioRhyme", serif;
    color: #858AE3;
}

.form {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.form-input,
.form-button {
    border-radius: 0;
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.form-input {
    outline: none;
    background-color: #F6F1D1;
    color: #333;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-color: rgba(255, 255, 255, 0.1);
}

.form-button {
    border: 1px;
    background: #F6F1D1;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #333;
    margin-left: 0.25rem;
    border-radius: 2px;
}

.form-button:hover {
    background: rgba(246, 241, 209, 0.801);
    transition: .75s all;
}

.list {
    padding: 0;
    list-style: none;
    width: 100%;
}

.task {
    background-color: rgba(255, 255, 255, 0.1);
    color: #858AE3;
    /*#20FC8F;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 1rem 3rem;
}

.check-button,
.delete-button,
.button-xxs {
    background-color: #F6F1D1;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    height: 32px;
    width: 128px;
    margin: 0 1rem 0 1rem;
}

.button-xxs {
    background-color: transparent;
    border: solid #858AE3;
    color: #858AE3;
    height: 32px;
    width: 144px;
    margin: 0
}

.button-xxs-purple {
    border: solid #858AE3;
    color: #858AE3;
    transition: 1s all;
}

.button-xxs-purple:hover {
    border: solid #6468c2;
    color: #6468c2;
    transition: 1s all;
}

.button-xxs-green {
    color: #20FC8F;
    border: solid #20FC8F;
    transition: .5s all;
}

.button-xxs-green:hover {
    color: #24cf7a;
    border: solid #24cf7a;
    transition: .5s all;
}

h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    transition: 1s all;
}

.title-xxs {
    color: #20FC8F;
    transition: 1s all;
}

.check-button:hover {
    background-color: #20FC8F;
    transition: 1s background-color;
}

.delete-button:hover {
    background-color: #ec534d;
    transition: 1s background-color;
}

.task.done .check-button {
    background-color: rgba(246, 241, 209, 0.1);
    color: #F6F1D1;
}

.check-icon {
    display: block;
    padding: 1px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
}

.task.done .check-icon {
    background-color: #2E2F2F;
}

.content {
    margin: 0;
    width: 50%;
    height: auto;
}

.task.done .content {
    text-decoration: line-through;
}

@media (max-width:768px) {
    .todo-list {
        min-width: 400px;
        max-width: 400px;
        min-height: 300px;
    }
}

@media (max-width: 576px) {
    .todo-list {
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
    }
}


/*# sourceMappingURL=style.css.map */