.hero__dialog {
  background: transparent;
  text-align: left;
  padding: 0 1.5rem;
}

.hero__title {
  font-size: 3rem;
}

.hero__description {
  font-size: 1.5rem;
}

.hero__image {
  height: 10rem;
  background: transparent;
  animation: scalate 1s ease-in-out infinite alternate;
}


@media(min-width: 768px) {
  .hero__image {
    height: 20rem;
  }
}


@keyframes scalate {
  from {
      transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}
