.success {
  color: var(--success);
}
.header {
  width: 100%;
  /* height: 2rem; */

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: .15rem solid var(--secondary);
}

.hightlight{
  margin-left: .5rem;
  font-size: 2rem;
}

.hightlight:hover {
  color: var(--secondary);
}

.menu {
  width: auto;
}

.menu__list {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.menu__list-item {
  font-weight: normal;

  margin: 0 .5rem;
  font-size: 1.75rem;
  transition: all 300ms ease-in-out;
}

.menu__list-item a:hover {
  text-decoration: underline;
  background-color: var(--tertiary);
}

.hero {
  width: 100%;
  height: 90%;
  /* height: calc(100vh - 3.5rem); main - (footer + header) */

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.hero__box {
  height: 100%;

  display: flex;
  flex: 1;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;

  transition: all 300ms ease-in-out;
}

.ground {
  /* height: 1.5rem; */
  width: 100%;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 1.25rem;
  border-top: .15rem solid var(--secondary);

  transition: all 300ms ease-in-out;
}

.basic__form {
  width: 100%;
  height: 100%;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.basic__input {
  display: flex;
  background:  var(--input-background);
  border: 1px solid var(--secondary);
  min-width: 15rem;
  min-height: 2rem;

  align-items: center;

  padding: 0 .4rem;
  border-radius: .25rem;
}

.modifier__without-border {
  border: none;
}

.basic__input label, .basic__input p {
  padding: .2rem;
  background:  transparent;
}

.basic__input input {
  flex: 1;
  background:  transparent;
  padding: .5rem;
}

.basic__button {
  background:  var(--button-background);
  min-width: 15rem;
  min-height: 2rem;
  border: 1px solid transparent;
  border-radius: .25rem;

  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 300ms ease-in-out;
}

.basic__button:hover {
  filter: opacity(95%);
  color: var(--button-background);
  background:  var(--primary);
}

.invisible {
  display: none;
}

@media(min-width: 768px) {
  .header {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .hero {
    display: flex;
    flex-direction: row;
  }
}
